{
    "components": {"schemas":{"bitcoin_api.APIError":{"properties":{"error":{"description":"Error returned from the API request","example":"Bad Request","type":"string"}},"type":"object"},"models.Candle":{"properties":{"bucket":{"example":"2024-03-25T14:00:00Z","type":"string"},"close":{"example":19.75,"type":"number"},"high":{"example":20,"type":"number"},"low":{"example":19.25,"type":"number"},"open":{"example":19.5,"type":"number"},"symbol":{"example":"BTC-840000:28","type":"string"},"volume":{"example":3780,"type":"number"}},"type":"object"},"models.CandleList":{"properties":{"data":{"items":{"$ref":"#/components/schemas/models.Candle"},"type":"array","uniqueItems":false}},"type":"object"},"models.RuneRegistry":{"properties":{"divisibility":{"example":8,"type":"integer"},"etched_tx_hash":{"example":"2bebfc71ac93f02de19b28a8b438ed40413676f4c4c2609401a9a08ea508fd58","type":"string"},"name":{"example":"DOGGOTOTHEMOON","type":"string"},"rune_id":{"example":"BTC-840000:28","type":"string"},"spacer":{"example":0,"type":"integer"},"symbol":{"example":"DOGGO","type":"string"}},"type":"object"},"models.RuneRegistryList":{"properties":{"data":{"items":{"$ref":"#/components/schemas/models.RuneRegistry"},"type":"array","uniqueItems":false}},"type":"object"},"models.Trade":{"properties":{"amount":{"example":3780,"type":"number"},"block":{"example":840000,"type":"integer"},"dex":{"example":"magiceden","type":"string"},"price":{"example":19.75,"type":"number"},"side":{"enum":["buy","sell"],"example":"buy","type":"string"},"symbol":{"example":"BTC-840000:28","type":"string"},"timestamp":{"example":"2024-05-03T15:04:05Z","type":"string"},"tx_hash":{"example":"2bebfc71ac93f02de19b28a8b438ed40413676f4c4c2609401a9a08ea508fd58","type":"string"},"tx_index":{"example":1,"type":"integer"}},"type":"object"},"models.TradeList":{"properties":{"data":{"items":{"$ref":"#/components/schemas/models.Trade"},"type":"array","uniqueItems":false}},"type":"object"}},"securitySchemes":{"":{"description":"Project API Key","in":"header","name":"api-key","type":"apiKey"}}},
    "info": {"description":"Market endpoints dedicated to Bitcoin DeFi protocols.","license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.txt"},"title":"Bitcoin - DeFi Markets API","version":"0.1.0"},
    "externalDocs": {"description":"","url":""},
    "paths": {"/dexs":{"get":{"description":"Returns all available DEXs","operationId":"mkt-dexs","responses":{"200":{"content":{"application/json":{"schema":{"items":{"type":"string"},"type":"array"}}},"description":"OK\"\texample({[\"magiceden\"]})"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/bitcoin_api.APIError"}}},"description":"Bad Request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/bitcoin_api.APIError"}}},"description":"Server Error"}},"summary":"Get Supported DEXs","tags":["DEX"]}},"/dexs/ohlc/{dex}/{symbol}":{"get":{"description":"Returns market activity in candlestick OHLC format for a specific DEX and token pair","operationId":"mkt-dex-ohlc","parameters":[{"description":"magiceden","in":"path","name":"dex","required":true,"schema":{"type":"string"}},{"description":"BTC-840000:1","in":"path","name":"symbol","required":true,"schema":{"type":"string"}},{"description":"1h","in":"query","name":"resolution","schema":{"enum":["1m","5m","15m","30m","1h","4h","1d","1w","1mo"],"type":"string"}},{"description":"2023-04-01","in":"query","name":"from","schema":{"type":"string"}},{"description":"2023-05-15","in":"query","name":"to","schema":{"type":"string"}},{"description":"10000","in":"query","name":"limit","schema":{"default":5000,"maximum":50000,"minimum":1,"type":"integer"}},{"description":"desc","in":"query","name":"sort","schema":{"default":"desc","enum":["asc","desc"],"type":"string"}},{"description":"false","in":"query","name":"carry","schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/models.CandleList"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/bitcoin_api.APIError"}}},"description":"Bad Request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/bitcoin_api.APIError"}}},"description":"Server Error"}},"summary":"Get Rune OHLC data","tags":["DEX"]}},"/dexs/trades/{dex}/{symbol}":{"get":{"description":"Returns raw trades for a specific DEX and rune","operationId":"mkt-dex-trades","parameters":[{"description":"magiceden","in":"path","name":"dex","required":true,"schema":{"type":"string"}},{"description":"BTC-840000:28","in":"path","name":"pair","required":true,"schema":{"type":"string"}},{"description":"2023-04-01","in":"query","name":"from","schema":{"type":"string"}},{"description":"2023-05-15","in":"query","name":"to","schema":{"type":"string"}},{"description":"10000","in":"query","name":"limit","schema":{"default":5000,"maximum":50000,"minimum":1,"type":"integer"}},{"description":"desc","in":"query","name":"sort","schema":{"default":"desc","enum":["asc","desc"],"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/models.TradeList"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/bitcoin_api.APIError"}}},"description":"Bad Request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/bitcoin_api.APIError"}}},"description":"Server Error"}},"summary":"Get Rune Trades for DEX","tags":["DEX"]}},"/runes":{"get":{"description":"Returns available Rune Registries","operationId":"mkt-dex","parameters":[{"description":"Bitcoin Rune ID","example":"840000:28","in":"query","name":"rune_id","schema":{"maxLength":16,"type":"string"}},{"description":"10000","in":"query","name":"limit","schema":{"default":5000,"maximum":50000,"minimum":1,"type":"integer"}},{"description":"desc","in":"query","name":"sort","schema":{"default":"desc","enum":["asc","desc"],"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/models.RuneRegistryList"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/bitcoin_api.APIError"}}},"description":"Bad Request"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/bitcoin_api.APIError"}}},"description":"Server Error"}},"summary":"Get Rune Registry","tags":["DEX"]}}},
    "openapi": "3.1.0",
    "servers": [
        {"url":"https://xbt-mainnet.gomaestro-api.org/v0/markets/markets"}
    ]
}