{
    "openapi": "3.0.3",
    "info": {
        "title": "Bitcoin - Merged Services API",
        "version": "1.0.0",
        "description": "Maestro's Bitcoin Merged Service API is a unified OpenAPI specification that combines multiple Bitcoin-related services into one comprehensive spec. It integrates endpoints from the following core services:\n\n - **Esplora API:** Core Esplora endpoints: blocks, transactions, addresses, mempool, fees, UTXO data and more.\n\n - **Blockchain Indexer API:** Core Bitcoin endpoints with support for Bitcoin metaprotocols indexed for real-time, rollback-protected access to UTXO data such as transaction activity, address balances and block data.\n - **Event Manager API:** Programmable webhook infrastructure for tracking Bitcoin events like transactions, address activity, and related state changes via configurable triggers.\n - **Market Price API:** Real-time, rollback-protected DEX pricing data with deep network-level indexing for BTC and Rune assets.\n - **Mempool Monitoring API:** Core Bitcoin endpoints indexed with mempool awareness, providing real-time visibility into unconfirmed transactions and fees.\n - **Node RPC API:** Interaction with Bitcoin nodes for low-level operations like sending transactions and querying blockchain state.\n - **Wallet API:** Granular address-level visibility across native Bitcoin and metaprotocol assets like inscriptions and runes, enabling detailed tracking of balance changes, token activity, and historical balance changes with USD-denominated valuation over time."
    },
    "servers": [
        {
            "url": "https://xbt-mainnet.gomaestro-api.org/v0",
            "description": "Bitcoin Mainnet"
        },
        {
            "url": "https://xbt-testnet.gomaestro-api.org/v0",
            "description": "Bitcoin Testnet"
        }
    ],
    "externalDocs": {
        "description": "",
        "url": ""
    },
    "security": [
        {
            "api-key": []
        }
    ],
    "paths": {
        "/addresses/{address}/activity": {
            "get": {
                "tags": ["Addresses"],
                "summary": "Satoshi Activity by Address",
                "description": "Returns all transactions for a given address or script pubkey, allowing insight into when the balance increased, decreased, or remained the same. This endpoint supports customization to narrow results by time, transaction type, or ordering, enabling tailored historical views.",
                "operationId": "satoshi_activity_by_address",
                "parameters": [
                    {
                        "name": "address",
                        "in": "path",
                        "description": "Bitcoin address or hex encoded script pubkey",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "bc1qcx7ys0ahvtfqcc63sfn6axls0qrhkadnslpd94"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "The order in which the results are sorted. Supported values: asc, desc",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "type": "string",
                                    "default": "asc",
                                    "enum": ["asc", "desc"]
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "The max number of results per page",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "type": "integer",
                                    "default": 100,
                                    "minimum": 0
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Return only transactions included on or after a specific height",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Return only transactions included on or before a specific height",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Pagination cursor string, use the cursor included in a page of results to fetch the next page",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "activity_kind",
                        "in": "query",
                        "description": "Only return transactions of a specific activity kind. Supported values: \"increase\" for transactions where satoshi balance increases, \"decrease\" for decrease, and \"self_transfer\" for transactions where satoshi balance remained the same.",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/ActivityKindByAddress"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "exclude_self_transfers",
                        "in": "query",
                        "description": "Do not return self-transfer transactions - transactions in which satoshi balance did not increase or decrease.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Requested data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedActivityByAddress"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "amount": "4456732",
                                            "confirmations": 48,
                                            "height": 892671,
                                            "kind": "increase",
                                            "tx_hash": "9f2d17f672ebb9962940aba94daef140cc876f32edba5e9325c18ca17534120e"
                                        },
                                        {
                                            "amount": "4456732",
                                            "confirmations": 43,
                                            "height": 892676,
                                            "kind": "decrease",
                                            "tx_hash": "2c34dbe0d8dcbf4faba291e50cda1d9b6f70cccdbb2fcd23a9341d2791845998"
                                        }
                                    ],
                                    "last_updated": {
                                        "block_hash": "00000000000000000000c7f19aca70cdeab9d7f04a79d1c8283b66dce78796e8",
                                        "block_height": 892719
                                    },
                                    "next_cursor": null
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed query parameters"
                    },
                    "404": {
                        "description": "Requested entity not found on-chain"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/addresses/{address}/balance": {
            "get": {
                "tags": ["Addresses"],
                "summary": "Satoshi Balance by Address",
                "description": "Returns the total balance in satoshis held at the specified address or script pubkey by summing all unspent outputs (UTXOs). This is a direct snapshot of the address's spendable funds and does not include mempool transactions.",
                "operationId": "satoshi_balance_by_address",
                "parameters": [
                    {
                        "name": "address",
                        "in": "path",
                        "description": "Bitcoin address or hex encoded script pubkey",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "bc1phyrmjs2jm5c98tldke2ykp0h66lsx3wy0ey8ug2fjj5mxsn8ftqsa24un8"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Requested data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TimestampedSatoshis"
                                },
                                "example": {
                                    "data": "695100",
                                    "last_updated": {
                                        "block_hash": "000000000000000000005075404edd6edc806976389a9f7e2ff71db1c2cf9b83",
                                        "block_height": 884991
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed query parameters"
                    },
                    "404": {
                        "description": "Requested entity not found on-chain"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/addresses/{address}/balance/historical": {
            "get": {
                "tags": ["Addresses"],
                "summary": "Historical Satoshi Balance by Address",
                "description": "Returns the historical satoshi balances, itemized by block and including USD price.",
                "operationId": "historical_satoshi_balance_by_address",
                "parameters": [
                    {
                        "name": "address",
                        "in": "path",
                        "description": "Bitcoin address or hex encoded script pubkey",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "bc1qcx7ys0ahvtfqcc63sfn6axls0qrhkadnslpd94"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "The order in which the results are sorted. Supported values: asc, desc",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "type": "string",
                                    "default": "asc",
                                    "enum": ["asc", "desc"]
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "The max number of results per page",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "type": "integer",
                                    "default": 100,
                                    "minimum": 0
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Return only blocks included on or after a specific height or timestamps. If this parameter is not provided, the starting point will be the first block where the address has seen its balance increase or decrease.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Return only blocks included on or before a specific height or timestamp",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Pagination cursor string, use the cursor included in a page of results to fetch the next page",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "height_params",
                        "in": "query",
                        "description": "Whether the from and to integer query params should be read as timestamps or as block heights. True (the default) means from and to params should be read as block heights.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Requested data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedHistoricalSatBalanceByAddress"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "confirmations": 932,
                                            "height": 899903,
                                            "sat_balance": "155191",
                                            "timestamp": "2025-06-05 12:34:23",
                                            "unix_timestamp": 1749126863,
                                            "usd_balance": "163.59"
                                        },
                                        {
                                            "confirmations": 931,
                                            "height": 899904,
                                            "sat_balance": "155191",
                                            "timestamp": "2025-06-05 12:34:52",
                                            "unix_timestamp": 1749126892,
                                            "usd_balance": "163.59"
                                        },
                                        {
                                            "confirmations": 930,
                                            "height": 899905,
                                            "sat_balance": "155191",
                                            "timestamp": "2025-06-05 12:35:24",
                                            "unix_timestamp": 1749126924,
                                            "usd_balance": "163.56"
                                        }
                                    ],
                                    "last_updated": {
                                        "block_hash": "000000000000000000014ba9b2d30d9c737423c753c5b6a27989815ed50afe04",
                                        "block_height": 900834
                                    },
                                    "next_cursor": null
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed query parameters"
                    },
                    "404": {
                        "description": "Requested entity not found on-chain"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/addresses/{address}/brc20": {
            "get": {
                "tags": ["Addresses"],
                "summary": "BRC20 by Address",
                "description": "Returns a collection of BRC20 tokens associated with the address, showing both the total and available (transferable) balances. This is essential for building BRC20 token wallets and dashboards.",
                "operationId": "brc20_by_address",
                "parameters": [
                    {
                        "name": "address",
                        "in": "path",
                        "description": "Bitcoin address or hex encoded script pubkey",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "bc1phyrmjs2jm5c98tldke2ykp0h66lsx3wy0ey8ug2fjj5mxsn8ftqsa24un8"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Requested data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TimestampedBrc20Quantities"
                                },
                                "example": {
                                    "data": {
                                        "ABCD": {
                                            "available": "0.123",
                                            "total": "312000.000"
                                        }
                                    },
                                    "last_updated": {
                                        "block_hash": "000000009ed3f5385c1807ca04630b9b2273398670726f93282fd41ba88dc6b8",
                                        "block_height": 2413542
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed query parameters"
                    },
                    "404": {
                        "description": "Requested entity not found on-chain"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/addresses/{address}/brc20/transfer_inscriptions": {
            "get": {
                "tags": ["Addresses"],
                "summary": "BRC20 Transfer Inscriptions by Address",
                "description": "Returns all unspent BRC20 transfer inscriptions residing at the address. This endpoint is critical for applications facilitating token transfers, as it identifies transfer-eligible inscriptions.",
                "operationId": "brc20_transfer_inscriptions_by_address",
                "parameters": [
                    {
                        "name": "address",
                        "in": "path",
                        "description": "Bitcoin address or hex encoded script pubkey",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "bc1p98p4wj9y5ppa4rkal59vrnp56tf8v6hggymud6awkf9rhdyvvc2s9jp0m3"
                    },
                    {
                        "name": "ticker",
                        "in": "query",
                        "description": "BRC20 ticker string",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        },
                        "example": "oxbt"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "The max number of results per page",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "type": "integer",
                                    "default": 100,
                                    "minimum": 0
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "The order in which the results are sorted",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "type": "string",
                                    "default": "asc",
                                    "enum": ["asc", "desc"]
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Pagination cursor string, use the cursor included in a page of results to fetch the next page",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Requested data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedTransferInscriptionByAddress"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "inscription_id": "1da6ca5f0c07634d3e233197997a21091f10907c942b2a8e77a4d77381ca96b8i0",
                                            "satoshis": "546",
                                            "ticker": "oxbt",
                                            "token_amount": "10000000.000000000000",
                                            "utxo_block_height": 851440,
                                            "utxo_confirmations": 481,
                                            "utxo_sat_offset": 0,
                                            "utxo_txid": "1da6ca5f0c07634d3e233197997a21091f10907c942b2a8e77a4d77381ca96b8",
                                            "utxo_vout": 0
                                        }
                                    ],
                                    "last_updated": {
                                        "block_hash": "00000000000000000000023f7c4b362352c7948fb6ed7775bcd558ef1c7966c0",
                                        "block_height": 851921
                                    },
                                    "next_cursor": null
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed query parameters"
                    },
                    "404": {
                        "description": "Requested entity not found on-chain"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/addresses/{address}/inscriptions": {
            "get": {
                "tags": ["Addresses"],
                "summary": "Inscriptions by Address",
                "description": "Retrieves all inscriptions currently controlled by a specific address. Useful for wallet UIs and inscription portfolio views.",
                "operationId": "inscriptions_by_address",
                "parameters": [
                    {
                        "name": "address",
                        "in": "path",
                        "description": "Bitcoin address or hex encoded script pubkey",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "bc1phyrmjs2jm5c98tldke2ykp0h66lsx3wy0ey8ug2fjj5mxsn8ftqsa24un8"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "The max number of results per page",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "type": "integer",
                                    "default": 100,
                                    "minimum": 0
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Pagination cursor string, use the cursor included in a page of results to fetch the next page",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Requested data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedInscriptionByAddress"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "inscription_id": "f02da3d6bebab13d5d604be1ed73d9a9c677dadf6ca71bc5fff7d99cdead11b0i0",
                                            "satoshis": 546,
                                            "utxo_block_height": 843010,
                                            "utxo_confirmations": 23701,
                                            "utxo_sat_offset": 0,
                                            "utxo_txid": "e2283e7c915ef074806136e0002cbc69f5fdd2e9f70f14b0eab48cdcbe867cc1",
                                            "utxo_vout": 0
                                        },
                                        {
                                            "inscription_id": "7d0a2dd897222913d58fc957b0429526117a0a61c964642fe93b077f328ccec1i0",
                                            "satoshis": 546,
                                            "utxo_block_height": 850976,
                                            "utxo_confirmations": 15735,
                                            "utxo_sat_offset": 0,
                                            "utxo_txid": "3c7c0f5c6a0d3f0ab5c8bcef0adf3be56f5aeed8b2dd1504b7a950fc4fee1f46",
                                            "utxo_vout": 1
                                        },
                                        {
                                            "inscription_id": "360550a31c9510ed5052c4351619bf68d5ae3f218bf2e9c1092090dbcf86acb3i0",
                                            "satoshis": 546,
                                            "utxo_block_height": 850976,
                                            "utxo_confirmations": 15735,
                                            "utxo_sat_offset": 0,
                                            "utxo_txid": "3c7c0f5c6a0d3f0ab5c8bcef0adf3be56f5aeed8b2dd1504b7a950fc4fee1f46",
                                            "utxo_vout": 1
                                        }
                                    ],
                                    "last_updated": {
                                        "block_hash": "00000000000000000000ec10254178fe52253f40c1fad252e892d9aa22ee8fa7",
                                        "block_height": 866710
                                    },
                                    "next_cursor": null
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed query parameters"
                    },
                    "404": {
                        "description": "Requested entity not found on-chain"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/addresses/{address}/inscriptions/activity": {
            "get": {
                "tags": ["Addresses"],
                "summary": "Inscription Activity by Address",
                "description": "Returns all inscription-related transactions involving a specific address. Can be filtered by activity type (send, receive, self-transfer), narrowed to a specific inscription, and sorted chronologically. Useful for building dashboards, tracking user behavior, or filtering unwanted spam activity.",
                "operationId": "inscription_activity_by_address",
                "parameters": [
                    {
                        "name": "address",
                        "in": "path",
                        "description": "Bitcoin address or hex encoded script pubkey",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "bc1p27j3fa2mr3d50m3uaavr0ntyzr0v2a27n48lc9gxpkzd4xye6dgs2tzx6p"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "The order in which the results are sorted. Supported values: asc, desc",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "type": "string",
                                    "default": "asc",
                                    "enum": ["asc", "desc"]
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "The max number of results per page",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "type": "integer",
                                    "default": 100,
                                    "minimum": 0
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Return only transactions created on or after a specific height",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Return only transactions created on or before a specific height",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Pagination cursor string, use the cursor included in a page of results to fetch the next page",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "inscription_id",
                        "in": "query",
                        "description": "Return only transactions containing a specific inscription, specified by an inscription ID. In presence of activity_kind, it relates to this specific inscription. In presence of exclude_self_transfers, it is this specific inscription that should be sent or received but not self-transferred.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        },
                        "example": "6fb976ab49dcec017f1e201e84395983204ae1a7c2abf7ced0a85d692e442799i0"
                    },
                    {
                        "name": "activity_kind",
                        "in": "query",
                        "description": "Filter txs by presence of specific activity kind. Supported values: send, receive, self_transfer. In presence of inscription filter, the activity kind relates to that specific inscription. In presence of exclude_self_transfers, this activity kind cannot be self_transfer.",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/InscriptionActivityKindByAddress"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "exclude_self_transfers",
                        "in": "query",
                        "description": "Exclude txs only containing inscriptions self-transfers. In presence of activity_kind, it cannot be self_transfer. In presence of inscription filter, that specific inscription should be sent or received, not self-transferred.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Requested data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedInscriptionActivityByAddress"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "confirmations": 60911,
                                            "height": 836717,
                                            "received": [
                                                {
                                                    "from": {
                                                        "address": "bc1p4at29alvmmtunc5ffcpm9n5e4rvz63hlrjcrgd2zh7d7jy24xgns2g7rw7",
                                                        "input_index": 0,
                                                        "sat_offset": 0,
                                                        "script_pubkey": "5120af56a2f7ecded7c9e2894e03b2ce99a8d82d46ff1cb0343542bf9be911553227"
                                                    },
                                                    "inscription_id": "696936486c96124784d46dec66dd9e806280a182d1addf9763ff4bb92d0bc918i64",
                                                    "to": {
                                                        "address": "bc1p27j3fa2mr3d50m3uaavr0ntyzr0v2a27n48lc9gxpkzd4xye6dgs2tzx6p",
                                                        "output_txid": "a977a36055ba3d26203c82e6ee585539cadd12c3d17b236ffb67c051320b8991",
                                                        "output_vout": 0,
                                                        "sat_offset": 0,
                                                        "script_pubkey": "512057a514f55b1c5b47ee3cef5837cd6410dec5755e9d4ffc15060d84da9899d351"
                                                    }
                                                }
                                            ],
                                            "self_transferred": [],
                                            "sent": [],
                                            "tx_hash": "a977a36055ba3d26203c82e6ee585539cadd12c3d17b236ffb67c051320b8991"
                                        },
                                        {
                                            "confirmations": 60910,
                                            "height": 836718,
                                            "received": [],
                                            "self_transferred": [],
                                            "sent": [
                                                {
                                                    "from": {
                                                        "address": "bc1pjuewj3dd4kpjen4zaqxd354jnwdjunewu7ncuaqqgsr0xa4cczzseg9066",
                                                        "input_index": 2,
                                                        "sat_offset": 0,
                                                        "script_pubkey": "51209732e945adad832ccea2e80cd8d2b29b9b2e4f2ee7a78e74004406f376b8c085"
                                                    },
                                                    "inscription_id": "696936486c96124784d46dec66dd9e806280a182d1addf9763ff4bb92d0bc918i64",
                                                    "to": {
                                                        "address": "bc1pjuewj3dd4kpjen4zaqxd354jnwdjunewu7ncuaqqgsr0xa4cczzseg9066",
                                                        "output_txid": "7647d53756d6f03b5191baaca26d84dbe2715406912eb2543c9d19c892a29c73",
                                                        "output_vout": 1,
                                                        "sat_offset": 0,
                                                        "script_pubkey": "51209732e945adad832ccea2e80cd8d2b29b9b2e4f2ee7a78e74004406f376b8c085"
                                                    }
                                                }
                                            ],
                                            "tx_hash": "7647d53756d6f03b5191baaca26d84dbe2715406912eb2543c9d19c892a29c73"
                                        }
                                    ],
                                    "last_updated": {
                                        "block_hash": "0000000000000000000119bd8dffd7d8285a69744011aa98f0d9091b0555ca46",
                                        "block_height": 897627
                                    },
                                    "next_cursor": null
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed query parameters"
                    },
                    "404": {
                        "description": "Requested entity not found on-chain"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/addresses/{address}/runes": {
            "get": {
                "tags": ["Addresses"],
                "summary": "Runes by Address",
                "description": "Provides a list of all Rune assets held by the specified address. It returns both total and available balances, allowing for token inventory management and portfolio tracking.",
                "operationId": "runes_by_address",
                "parameters": [
                    {
                        "name": "address",
                        "in": "path",
                        "description": "Bitcoin address or hex encoded script pubkey",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "bc1phyrmjs2jm5c98tldke2ykp0h66lsx3wy0ey8ug2fjj5mxsn8ftqsa24un8"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Requested data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TimestampedRuneQuantities"
                                },
                                "example": {
                                    "data": {
                                        "2584333:39": "100000.00",
                                        "2585186:140": "100000.000000000000"
                                    },
                                    "last_updated": {
                                        "block_hash": "0000000088bee3b517745636443c8f11aff45209449300a5d8461c336e467925",
                                        "block_height": 2815520
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed query parameters"
                    },
                    "404": {
                        "description": "Requested entity not found on-chain"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/addresses/{address}/runes/activity": {
            "get": {
                "tags": ["Addresses"],
                "summary": "Rune Activity by Address",
                "description": "Return all transactions where the specified address has rune activity, with the option to filter by a specific rune kind.",
                "operationId": "rune_activity_by_address",
                "parameters": [
                    {
                        "name": "address",
                        "in": "path",
                        "description": "Bitcoin address or hex encoded script pubkey",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "bc1p27j3fa2mr3d50m3uaavr0ntyzr0v2a27n48lc9gxpkzd4xye6dgs2tzx6p"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "The order in which the results are sorted. Supported values: asc, desc",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "type": "string",
                                    "default": "asc",
                                    "enum": ["asc", "desc"]
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "The max number of results per page",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "type": "integer",
                                    "default": 100,
                                    "minimum": 0
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Return only transactions created on or after a specific height",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Return only transactions created on or before a specific height",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Pagination cursor string, use the cursor included in a page of results to fetch the next page",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "rune",
                        "in": "query",
                        "description": "Return only transactions containing a specific rune, specified either by the rune ID (etching block number and transaction index) or name (spaced or un-spaced). In presence of activity_kind, it relates to this specific rune. In presence of exclude_self_transfers, it is this specific rune that the queried address should see increase or decrease in balance in the tx, not just being self-transferred.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        },
                        "example": "840000:3"
                    },
                    {
                        "name": "activity_kind",
                        "in": "query",
                        "description": "Filter txs by presence specific activity kind. Supported values: increased, decreased, self_transfer. In presence of rune filter, the activity kind relates to that specific rune. In presence of exclude_self_transfers, this activity kind cannot be self_transfer.",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/RuneActivityKindByAddress"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "exclude_self_transfers",
                        "in": "query",
                        "description": "Exclude txs only containing runes self-transfers. In presence of activity_kind, it cannot be self_transfer. In presence of rune filter, that specific rune should be sent or received, not self-transferred.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Requested data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedRuneActivityByAddress"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "confirmations": 21684,
                                            "decreased_balances": [],
                                            "etched_rune": null,
                                            "height": 875944,
                                            "increased_balances": [
                                                {
                                                    "amount": "1453573",
                                                    "rune_id": "840000:28"
                                                }
                                            ],
                                            "minted": null,
                                            "self_transfers": [],
                                            "tx_hash": "6a4237d43719e0766a8333eb8531b3bae9b20e7484e6962a731773b883315da1"
                                        },
                                        {
                                            "confirmations": 21558,
                                            "decreased_balances": [],
                                            "etched_rune": null,
                                            "height": 876070,
                                            "increased_balances": [],
                                            "minted": null,
                                            "self_transfers": [
                                                {
                                                    "amount": "1453573",
                                                    "rune_id": "840000:28"
                                                }
                                            ],
                                            "tx_hash": "1c2c45980432108fda7b4eb2a390bd1cae7aac62b9309f5ef3911960e50b8501"
                                        },
                                        {
                                            "confirmations": 21525,
                                            "decreased_balances": [
                                                {
                                                    "amount": "207654",
                                                    "rune_id": "840000:28"
                                                }
                                            ],
                                            "etched_rune": null,
                                            "height": 876103,
                                            "increased_balances": [],
                                            "minted": null,
                                            "self_transfers": [],
                                            "tx_hash": "cbcbac069d142c303b062dda88635e4939d69120f66d89a9da17ebd0ff806a1f"
                                        }
                                    ],
                                    "last_updated": {
                                        "block_hash": "0000000000000000000119bd8dffd7d8285a69744011aa98f0d9091b0555ca46",
                                        "block_height": 897627
                                    },
                                    "next_cursor": null
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed query parameters"
                    },
                    "404": {
                        "description": "Requested entity not found on-chain"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/addresses/{address}/runes/utxos": {
            "get": {
                "tags": ["Addresses"],
                "summary": "Rune UTxOs by Address",
                "description": "Lists all UTXOs at the address or script pubkey that contains Rune tokens, with optional refinement based on Rune type or metadata. Helpful for spend analysis or wallet state audits.",
                "operationId": "rune_utxos_by_address_v2",
                "parameters": [
                    {
                        "name": "address",
                        "in": "path",
                        "description": "Bitcoin address or hex encoded script pubkey",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "bc1p27j3fa2mr3d50m3uaavr0ntyzr0v2a27n48lc9gxpkzd4xye6dgs2tzx6p"
                    },
                    {
                        "name": "rune",
                        "in": "query",
                        "description": "Return only UTxOs containing a specific Rune, specified either by the Rune ID (etching block number and transaction index) or name (spaced or un-spaced)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        },
                        "example": "840000:3"
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "description": "The property by which response items should be sorted. Supported values: height (height of block which produced the UTxO - default), amount (amount of runes in UTxO)",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/OrderBy"
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "The order in which the results are sorted. Supported values: asc, desc",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "type": "string",
                                    "default": "asc",
                                    "enum": ["asc", "desc"]
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "The max number of results per page",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "type": "integer",
                                    "default": 100,
                                    "minimum": 0
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Pagination cursor string, use the cursor included in a page of results to fetch the next page.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Return only UTxOs created on or after a specific height",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Return only UTxOs created on or before a specific height",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true,
                            "minimum": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Requested data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedRuneUtxoByAddress"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "confirmations": 13636,
                                            "height": 876954,
                                            "runes": [
                                                {
                                                    "amount": "2500000",
                                                    "rune_id": "876947:7"
                                                }
                                            ],
                                            "satoshis": "546",
                                            "txid": "67715c2b42eaa053fc174c68ca4f393446986567ed0509fa78eb3aa9d0b8db0b",
                                            "vout": 3
                                        },
                                        {
                                            "confirmations": 13636,
                                            "height": 876954,
                                            "runes": [
                                                {
                                                    "amount": "2500000",
                                                    "rune_id": "876947:7"
                                                }
                                            ],
                                            "satoshis": "546",
                                            "txid": "67715c2b42eaa053fc174c68ca4f393446986567ed0509fa78eb3aa9d0b8db0b",
                                            "vout": 4
                                        },
                                        {
                                            "confirmations": 13636,
                                            "height": 876954,
                                            "runes": [
                                                {
                                                    "amount": "2500000",
                                                    "rune_id": "876947:7"
                                                }
                                            ],
                                            "satoshis": "546",
                                            "txid": "67715c2b42eaa053fc174c68ca4f393446986567ed0509fa78eb3aa9d0b8db0b",
                                            "vout": 5
                                        },
                                        {
                                            "confirmations": 13636,
                                            "height": 876954,
                                            "runes": [
                                                {
                                                    "amount": "2500000",
                                                    "rune_id": "876947:7"
                                                }
                                            ],
                                            "satoshis": "546",
                                            "txid": "67715c2b42eaa053fc174c68ca4f393446986567ed0509fa78eb3aa9d0b8db0b",
                                            "vout": 6
                                        },
                                        {
                                            "confirmations": 13636,
                                            "height": 876954,
                                            "runes": [
                                                {
                                                    "amount": "2500000",
                                                    "rune_id": "876947:7"
                                                }
                                            ],
                                            "satoshis": "546",
                                            "txid": "67715c2b42eaa053fc174c68ca4f393446986567ed0509fa78eb3aa9d0b8db0b",
                                            "vout": 7
                                        },
                                        {
                                            "confirmations": 13636,
                                            "height": 876954,
                                            "runes": [
                                                {
                                                    "amount": "2500000",
                                                    "rune_id": "876947:7"
                                                }
                                            ],
                                            "satoshis": "546",
                                            "txid": "67715c2b42eaa053fc174c68ca4f393446986567ed0509fa78eb3aa9d0b8db0b",
                                            "vout": 8
                                        },
                                        {
                                            "confirmations": 13636,
                                            "height": 876954,
                                            "runes": [
                                                {
                                                    "amount": "2500000",
                                                    "rune_id": "876947:7"
                                                }
                                            ],
                                            "satoshis": "546",
                                            "txid": "67715c2b42eaa053fc174c68ca4f393446986567ed0509fa78eb3aa9d0b8db0b",
                                            "vout": 9
                                        }
                                    ],
                                    "last_updated": {
                                        "block_hash": "00000000000000000000e0b35ac5973cb61e9994c78b83d20f75f4b8f8d54fff",
                                        "block_height": 890589
                                    },
                                    "next_cursor": null
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed query parameters"
                    },
                    "404": {
                        "description": "Requested entity not found on-chain"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/addresses/{address}/runes/{rune}": {
            "get": {
                "tags": ["Addresses"],
                "summary": "(deprecated) Rune UTxOs by Address and Rune",
                "description": "Return all UTxOs controlled by the specified address or script pubkey which contain runes, with the option to filter by a specific rune kind.",
                "operationId": "rune_utxos_by_address",
                "parameters": [
                    {
                        "name": "address",
                        "in": "path",
                        "description": "Bitcoin address or hex encoded script pubkey",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "bc1p27j3fa2mr3d50m3uaavr0ntyzr0v2a27n48lc9gxpkzd4xye6dgs2tzx6p"
                    },
                    {
                        "name": "rune",
                        "in": "path",
                        "description": "Rune, specified either by the Rune ID (etching block number and transaction index) or name (spaced or un-spaced)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "876947:7"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "The max number of results per page",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "type": "integer",
                                    "default": 100,
                                    "minimum": 0
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "The order in which the results are sorted (by height at which UTxO was produced)",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "type": "string",
                                    "default": "asc",
                                    "enum": ["asc", "desc"]
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Return only UTxOs created on or after a specific height",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Return only UTxOs created on or before a specific height",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Pagination cursor string, use the cursor included in a page of results to fetch the next page",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Requested data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedDeprecatedRuneUtxoByAddress"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "confirmations": 13634,
                                            "height": 876954,
                                            "rune_amount": "2500000",
                                            "satoshis": "546",
                                            "txid": "67715c2b42eaa053fc174c68ca4f393446986567ed0509fa78eb3aa9d0b8db0b",
                                            "vout": 3
                                        },
                                        {
                                            "confirmations": 13634,
                                            "height": 876954,
                                            "rune_amount": "2500000",
                                            "satoshis": "546",
                                            "txid": "67715c2b42eaa053fc174c68ca4f393446986567ed0509fa78eb3aa9d0b8db0b",
                                            "vout": 4
                                        },
                                        {
                                            "confirmations": 13634,
                                            "height": 876954,
                                            "rune_amount": "2500000",
                                            "satoshis": "546",
                                            "txid": "67715c2b42eaa053fc174c68ca4f393446986567ed0509fa78eb3aa9d0b8db0b",
                                            "vout": 5
                                        },
                                        {
                                            "confirmations": 13634,
                                            "height": 876954,
                                            "rune_amount": "2500000",
                                            "satoshis": "546",
                                            "txid": "67715c2b42eaa053fc174c68ca4f393446986567ed0509fa78eb3aa9d0b8db0b",
                                            "vout": 6
                                        },
                                        {
                                            "confirmations": 13634,
                                            "height": 876954,
                                            "rune_amount": "2500000",
                                            "satoshis": "546",
                                            "txid": "67715c2b42eaa053fc174c68ca4f393446986567ed0509fa78eb3aa9d0b8db0b",
                                            "vout": 7
                                        },
                                        {
                                            "confirmations": 13634,
                                            "height": 876954,
                                            "rune_amount": "2500000",
                                            "satoshis": "546",
                                            "txid": "67715c2b42eaa053fc174c68ca4f393446986567ed0509fa78eb3aa9d0b8db0b",
                                            "vout": 8
                                        },
                                        {
                                            "confirmations": 13634,
                                            "height": 876954,
                                            "rune_amount": "2500000",
                                            "satoshis": "546",
                                            "txid": "67715c2b42eaa053fc174c68ca4f393446986567ed0509fa78eb3aa9d0b8db0b",
                                            "vout": 9
                                        }
                                    ],
                                    "last_updated": {
                                        "block_hash": "0000000000000000000210d44d102ab68eaa052ce03fbe216d313294725bdfaf",
                                        "block_height": 890587
                                    },
                                    "next_cursor": null
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed query parameters"
                    },
                    "404": {
                        "description": "Requested entity not found on-chain"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "deprecated": true
            }
        },
        "/addresses/{address}/statistics": {
            "get": {
                "tags": ["Addresses"],
                "summary": "Address Statistics",
                "description": "Returns all current statistics of the address: total txs the address was involved in, total unspent outputs controlled by the address, current satoshi, control of any runes and inscription balance.",
                "operationId": "address_statistics",
                "parameters": [
                    {
                        "name": "address",
                        "in": "path",
                        "description": "Bitcoin address or hex encoded script pubkey",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "bc1qcx7ys0ahvtfqcc63sfn6axls0qrhkadnslpd94"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Requested data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TimestampedAddressStatistics"
                                },
                                "example": {
                                    "data": {
                                        "runes": false,
                                        "sat_balance": "209258",
                                        "total_inputs": 0,
                                        "total_inscriptions": 0,
                                        "total_outputs": 3,
                                        "total_sat_in_inputs": 0,
                                        "total_sat_in_outputs": 209258,
                                        "total_txs": 3,
                                        "total_utxos": 3
                                    },
                                    "last_updated": {
                                        "block_hash": "000000000000000000017e71733448d2c8e2f4c08105d97f7c1868acb4acc7ba",
                                        "block_height": 903881
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed query parameters"
                    },
                    "404": {
                        "description": "Requested entity not found on-chain"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/addresses/{address}/txs": {
            "get": {
                "tags": ["Addresses"],
                "summary": "Transactions by Address",
                "description": "List of all transactions which consumed or produced a UTxO controlled by the specified address or script pubkey.",
                "operationId": "txs_by_address",
                "parameters": [
                    {
                        "name": "address",
                        "in": "path",
                        "description": "Bitcoin address or hex encoded script pubkey",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "bc1phyrmjs2jm5c98tldke2ykp0h66lsx3wy0ey8ug2fjj5mxsn8ftqsa24un8"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "The max number of results per page",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "type": "integer",
                                    "default": 100,
                                    "minimum": 0
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "confirmations",
                        "in": "query",
                        "description": "Only return transactions with at least a certain amount of confirmations",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "The order in which the results are sorted (by height at which transaction was included in a block)",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "type": "string",
                                    "default": "asc",
                                    "enum": ["asc", "desc"]
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Return only transactions included on or after a specific height",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Return only transactions included on or before a specific height",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Pagination cursor string, use the cursor included in a page of results to fetch the next page",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Requested data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedInvolvedTransaction"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "height": 5277680,
                                            "input": true,
                                            "output": true,
                                            "tx_hash": "1cd3a819876660e98d3d5d9e4d36ddbd1ae6f96e58de0d3977f0ef2ce6e4194a"
                                        },
                                        {
                                            "height": 5277682,
                                            "input": true,
                                            "output": true,
                                            "tx_hash": "ad7b8037fc7551fd9e644ddd39bc0501bc6aac865284fd79dde8b732af45acd9"
                                        }
                                    ],
                                    "last_updated": {
                                        "block_hash": "8ac9689a7901531013c3cd621eae8b8e75b1994f477d616a4faa2a10afd9be58",
                                        "block_height": 5277710
                                    },
                                    "next_cursor": "AAAAAABQh_JgAAlg2axFrzK36N15_YRShqxqvAEFvDndTWSe_VF1_DeAe60"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed query parameters"
                    },
                    "404": {
                        "description": "Requested entity not found on-chain"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/addresses/{address}/utxos": {
            "get": {
                "tags": ["Addresses"],
                "summary": "UTxOs by Address",
                "description": "Retrieves all UTXOs associated with a Bitcoin address or script pubkey. Ideal for wallet views, dust filtering, or balance calculations. Can be tailored to exclude certain categories of UTXOs such as those used in metaprotocols.",
                "operationId": "utxos_by_address",
                "parameters": [
                    {
                        "name": "address",
                        "in": "path",
                        "description": "Bitcoin address or hex encoded script pubkey",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "bc1phyrmjs2jm5c98tldke2ykp0h66lsx3wy0ey8ug2fjj5mxsn8ftqsa24un8"
                    },
                    {
                        "name": "filter_dust",
                        "in": "query",
                        "description": "Ignore UTxOs containing less than 100000 sats",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "filter_dust_threshold",
                        "in": "query",
                        "description": "Ignore UTxOs containing less than specified satoshis",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "exclude_metaprotocols",
                        "in": "query",
                        "description": "Exclude UTxOs involved in metaprotocols (currently only runes and inscriptions will be discovered, more metaprotocols may be supported in future)",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "nullable": true
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "The max number of results per page",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "type": "integer",
                                    "default": 100,
                                    "minimum": 0
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "The order in which the results are sorted (by height at which UTxO was produced)",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "type": "string",
                                    "default": "asc",
                                    "enum": ["asc", "desc"]
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Return only UTxOs created on or after a specific height",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Return only UTxOs created on or before a specific height",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Pagination cursor string, use the cursor included in a page of results to fetch the next page",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Requested data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedUtxo"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "address": "bc1phyrmjs2jm5c98tldke2ykp0h66lsx3wy0ey8ug2fjj5mxsn8ftqsa24un8",
                                            "confirmations": 23,
                                            "height": 2815497,
                                            "inscriptions": [],
                                            "runes": [],
                                            "satoshis": "546",
                                            "script_pubkey": "00140df0d276eacd58b09a74d5e0288756e8505787f5",
                                            "txid": "cb9532641412a6fa6f329e8728a8f7554dcaa6cdaec1355bd2bd2903cd61c6eb",
                                            "vout": 1
                                        },
                                        {
                                            "address": "bc1phyrmjs2jm5c98tldke2ykp0h66lsx3wy0ey8ug2fjj5mxsn8ftqsa24un8",
                                            "confirmations": 20,
                                            "height": 2815500,
                                            "inscriptions": [
                                                {
                                                    "inscription_id": "47bb5438d366863b25b4b1782af0d0cf0a89a922adce5da81253790d3e651501i0",
                                                    "offset": 0
                                                }
                                            ],
                                            "runes": [
                                                {
                                                    "amount": "1.00",
                                                    "rune_id": "840000:1"
                                                }
                                            ],
                                            "satoshis": "546",
                                            "script_pubkey": "00140df0d276eacd58b09a74d5e0288756e8505787f5",
                                            "txid": "6312095baa2a42dec6aa41888c01fd74ecce2ab139c17a0a6d01d42a89b67953",
                                            "vout": 1
                                        }
                                    ],
                                    "last_updated": {
                                        "block_hash": "0000000088bee3b517745636443c8f11aff45209449300a5d8461c336e467925",
                                        "block_height": 2815520
                                    },
                                    "next_cursor": "AAAAAAAq9gxgU3m2iSrUAW0KesE5sSrO7HT9AYyIQarG3kIqqlsJEmNgAAAAAQ"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed query parameters"
                    },
                    "404": {
                        "description": "Requested entity not found on-chain"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/assets/brc20": {
            "get": {
                "tags": ["BRC20"],
                "summary": "List BRC20",
                "description": "Retrieves a list of tickers of all deployed BRC20 assets.",
                "operationId": "list_brc20s",
                "parameters": [
                    {
                        "name": "count",
                        "in": "query",
                        "description": "The max number of results per page",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "type": "integer",
                                    "default": 100,
                                    "minimum": 0
                                }
                            ],
                            "nullable": true
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Pagination cursor string, use the cursor included in a page of results to fetch the next page",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Requested data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedBrc20Ticker"
                                },
                                "example": {
                                    "data": ["aosi", "ap'q", "fctb"],
                                    "last_updated": {
                                        "block_hash": "0000000000000000000235c5edb5c89ef52715452a2aca610949194b3361ef7d",
                                        "block_height": 850368
                                    },
                                    "next_cursor": "BGZjdGI"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed query parameters"
                    },
                    "404": {
                        "description": "Requested entity not found on-chain"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/assets/brc20/{ticker}": {
            "get": {
                "tags": ["BRC20"],
                "summary": "BRC20 Info",
                "description": "Information about a BRC20 token’s metadata and current state, including its symbol, deployment details, minting rules, total holders, and minted supply.",
                "operationId": "brc20_info",
                "parameters": [
                    {
                        "name": "ticker",
                        "in": "path",
                        "description": "BRC20 ticker string",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "FCTB"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Requested data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TimestampedBrc20Info"
                                },
                                "example": {
                                    "data": {
                                        "deploy_inscription": "3d983a724310f511cfca0031ee2b980b474a0abe1e7e995b7e6d2873e2cbfd5fi0",
                                        "holders": 7,
[...]
